
.contenedor-estetica {
    background-color: $negro;
    
    
    @include tablet {
        
        @include grid(2, $separacion);
        gap: 1rem;
        .tabs {
            padding:  0 1rem 0 0 ;
        };
        
    };
     
    .imagen {
        background-image: url('../img/1.jpg');
        background-position: center;
        background-size: auto;
        height: 30rem;
    };

    @include tablet {
        .imagen {
            height: auto;
        };
    };   
};

.tabs {
    font-family: $fuente_principal;
    @include grid(3, $separacion);

    button{
        border: none;
        font-size: 1rem;
        font-weight: $black;
        color: $negro;
        background-color: $blanco;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
        };
    };
};
